@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#vidbg{ 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index:-1;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
header{
    display: block;
}
nav{
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.links a, .title{
    color:black;
    margin-left: 1vw;
    text-decoration: none;
}
.banner{
    margin-top: 5vw;
    background-color: white;
    opacity: 50%;
    padding: 5vw;
    text-shadow: 3px 3px 2px rgba(128, 128, 128, 1);
}
.header{
    font-size: 40pt;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
article{
    text-shadow: 3px 3px 2px rgba(128, 128, 128, 1);
}

.icon{
    background-image: url(../images/sprite3.png);
    background-repeat: no-repeat; width: 66px; height: 66px;
    display: inline-block;
}
footer{
    text-align: center;
    position: fixed;
    bottom: 0vw;
    background-color: white;
    width: 100vw;
}
#tw{
    background-position: -66px -72px;;
}
#yt{
    background-position: -439px -221px;
}
#in{
    background-position: -290px -221px;
}
#li{
    background-position: -215px -72px;
}

@media screen and (max-width: 600px){
    nav{ position: relative; background-color: rgba(255, 255, 255, 0.61);}
    .title{
        padding: 1vw;
        color: white;
        transition: .5s;
    }
    .links{
        display: none;
        z-index: 1;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.669);
        min-width: 100vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.728);
        transition: .5s;
    }
    .links a{
        color: black;
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: block;
        transition: .5s;
        margin-left: 0;
        padding-left: 1vh;}
    
    .links a:hover{background-color: #ddd; transition: .5s;}
    nav:hover .links{display: block; transition: .5s;}
    nav:hover .pagetitle{background-color: #2e73eb; transition: .5s;}
}
